<!DOCTYPE html>
<html>
<head>
    <title>My CS Resources</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</head>
<body>
    <h1><a href="{% url 'resource_list' %}">My CS Resources</a></h1>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>